main {
  background-color: #0f1626;
  min-height: 80vh;
}

h3 {
  color:white;
  padding: 1rem 0;
}

h1 {
  color:white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  color:white;
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

a{
  color:gray;
}

strong{
  color: #fff;
}

strong2{
  color:black;
}

.bg-dark{
  background-color: #0f1626 !important;
}

form{
  background-color: #fff;
  border-radius: 100px;
  padding: 0 20px;
}

@media (max-width:700px){
  form{
    flex-flow:row !important;
    margin-top: 20px;
  }
}

input{
  color: #fff;
  border:0;
  font-size:0.875rem;
}
input:focus{
  box-shadow: none !important;
}

.card{
  border-color:white;
  background-color: #0f1626 !important;
}


.formContainer{
  background-color: #0f1626;
  border-color:white;
}